html {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

main {
    height: 1080px;
    width: 1920px;
    /* background-color: blue; */
    background-image: '../../assets/img/background-login.png';
}

.login {
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
}

.loginLogin {
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
}

.email {
    background-color: blueviolet;
    align-items: center;
}